<app-toolbar></app-toolbar>
<div class="web-height" style="position: relative; z-index: 2 !important;" fxLayout="row" fxLayoutAlign="start stretch" fxLayoutAlign.sm="center center"  fxLayoutAlign.lg="center center">
  <div fxFlex="100" fxFlex.sm="400px" fxFlex.lg="400px" [ngClass.sm]="['width-400px']"  fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.sm="center center">
      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-card style=" background: rgba(255,255,255, 0.4) !important;" class="padding10px mt-3 relative" fxLayout="column" fxLayoutAlign="center center" >
          <mat-card-content  class="fullWidth" fxLayout="column" fxLayoutAlign="center center">
            <div fxLayout="column" fxLayoutAlign="center center">
              <h3 class="bold font20px">About <b class="primaryBlue">Bevinda Travels</b></h3>
              <h4 class="font18px">
                <b><span class="primaryBlue">Bevinda Travels</span>  was founded to serve companies and individuals who don't like to waste time online searching for hotels only to be disappointed on arrival. <br><br>
                We have consultants who care for our client's needs for business and leisure travels. <br><br>
                We are located in the East Rand of Johannesburg, near the OR Tambo International Airport. <br><br>
                When it comes to caring, nothing beats the human touch.
                So contact us and book your next hotel stay.</b>
              </h4>
          </div>
          </mat-card-content>
        </mat-card>
      </div>
  </div>
</div>
