<app-toolbar></app-toolbar>
<div class="web-height" style="position: relative; z-index: 2 !important;" fxLayout="row" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-card class="padding10px" fxLayout="column" fxLayoutAlign="center center">
          <mat-card-content fxLayout="column" fxLayoutAlign="center center">
            <div fxLayout="column" fxLayoutAlign="center center">
              <div style="background: url(../../assets/img/reward.jpg); height: 200px; width: 100%; background-size: cover;"></div>
              <h3 class="bold" align="center"><b class="primaryBlue">Refer a friend and get 1 free night for 2 adults!
              </b></h3>
          </div>
          </mat-card-content>
        </mat-card>
      </div>
  </div>
</div>
