<div
  class="spinner"
  *ngIf="spinner"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxFill
>
  <mat-progress-spinner [mode]="mode"> </mat-progress-spinner>
</div>
<div fxLayout="row" fxLayoutAlign="start stretch" fxFill>
  <div
    fxFlex="100"
    fxLayout="column"
    fxLayoutAlign="start stretch"
    fxLayoutGap="0.5em"
  >
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="column" fxLayoutAlign="start stretch">
        <h1 *ngIf="!data?.title" class="bold noMargin">New Reward</h1>
        <h1 *ngIf="data?.title" class="bold noMargin">{{ data?.title }}</h1>
      </div>
      <div
        mat-dialog-close
        class="pointer"
        fxLayout="row"
        fxLayoutAlign="space-between center"
        fxLayoutGap="10px"
      >
        <h2 *ngIf="data?.title" class="bold redColor noMargin">Cancel</h2>
        <mat-icon *ngIf="data?.title" class="redColor">highlight_off</mat-icon>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex="100" fxLayout="column" fxLayoutAlign="start stretch">
        <mat-card>
          <mat-card-content class="cardHeight">
            <div
              *ngIf="!data?.title"
              class="padding10px"
              fxLayout="row"
              fxLayoutAlign="space-between center"
            >
              <div fxFlex="100" fxLayout="column" fxLayoutAlign="center start">
                <button
                  routerLink="../"
                  mat-raised-button
                  class="primaryBlueBtn whiteColor"
                >
                  <mat-icon class="font20px">arrow_back</mat-icon> Back To
                  Rewards
                </button>
              </div>
            </div>
            <form class="padding10px" [formGroup]="reward">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <div
                  fxFlex="30"
                  fxLayout="column"
                  fxLayoutAlign="start stretch"
                >
                  <mat-form-field appearance="legacy">
                    <mat-label>Referrer</mat-label>
                    <input
                      matInput
                      formControlName="referrer"
                      placeholder="Referrer"
                      required
                    />
                  </mat-form-field>
                </div>
                <div
                  fxFlex="30"
                  fxLayout="column"
                  fxLayoutAlign="start stretch"
                >
                  <mat-form-field appearance="legacy">
                    <mat-label>Friend</mat-label>
                    <input
                      matInput
                      formControlName="friend"
                      placeholder="Friend"
                      required
                    />
                  </mat-form-field>
                </div>
                <div
                  fxFlex="30"
                  fxLayout="column"
                  fxLayoutAlign="start stretch"
                >
                <mat-form-field appearance="legacy">
                  <mat-label>Date Of Referral</mat-label>
                  <input readonly formControlName="dateOfReferral" matInput [matDatepicker]="picker" (click)="picker.open()" required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4em">
                <div
                  fxFlex="30"
                  fxLayout="column"
                  fxLayoutAlign="start stretch"
                >
                <mat-form-field appearance="legacy">
                  <mat-label>Date Of Booking</mat-label>
                  <input readonly formControlName="dateOfBooking" matInput [matDatepicker]="picker2" (click)="picker2.open()" required>
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
                </div>
                <div
                  fxFlex="30"
                  fxLayout="column"
                  fxLayoutAlign="start stretch"
                >
                  <mat-slide-toggle formControlName="redeemedStatus"
                    >Redeemed Status</mat-slide-toggle
                  >
                </div>
              </div>
              <div class="mt-3" fxLayout="row" fxLayoutAlign="space-between center">
                <button
                  *ngIf="!data?.title"
                  [disabled]="!reward.valid"
                  (click)="saveReward(reward)"
                  mat-raised-button
                  class="blueBackground whiteColor"
                >
                  Save reward
                </button>
                <button
                  *ngIf="data?.title"
                  [disabled]="!reward.valid"
                  [mat-dialog-close]="reward.value"
                  mat-raised-button
                  class="primaryBlueBtn whiteColor"
                >
                  Update reward
                </button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
